NFT_STORAGE_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkaWQ6ZXRocjoweDQzMjIxRDM4MzU2OTdlMUY3NjI4MkMxRTQ4NzAwNUI4ODJCNDE1YmMiLCJpc3MiOiJuZnQtc3RvcmFnZSIsImlhdCI6MTYzMDgwODY2MTY4MSwibmFtZSI6Ik5GVC1Ib2t1c2FpQVBJIn0.NxF7oaJFegL2R0kCdGWha12Y66RoO3xEvPx5l8dS6iw"
HOKUSAI_API_KEY = "AIzaSyAuoo2OURviBubjLAriDUqgCLVk_ipXjOw"
HOKUSAI_CONTRACT_ID = "Eq8uktHqZfIc2syT6WNd"